<style>
    .br {display: none;}
    @media (max-width:600px) {
        .info_name {font-size: 1rem;}
        .info_name2 {font-size: 8px;}
        .br {display: block;}
    }
</style>
<footer class="bg-light mt-auto" style="word-break: keep-all;">
    <div class="container-fluid px-4" style="padding: 0.1rem;">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">
                <p class="info_name">
                    요닥-m &nbsp
                    <sepa>|</sepa>
                    &nbsp Yodoc-m
                </p>
                <br>
                <p class="info_name2">
                    상호명: 리빈에이아이(주) &nbsp/&nbsp 대표자: 이호준 &nbsp/&nbsp <br class="br">주소: 충청남도 천안시 서북구 직산읍 직산로 136, 정보영상융합센터 501호
                    <br>
                    TEL: 041-909-9111 &nbsp/&nbsp FAX: 0505-340-3413 &nbsp/&nbsp WEB: www.qcare.co.kr &nbsp/&nbsp <br class="br">EMAIL: livinai@livinai.com 
                    <br>
                    사업자등록번호: 549-86-00789 &nbsp/&nbsp 개인정보 보호책임자: 이호준            
                </p>
            </div>
        </div>
    </div>
</footer>