{%with messages = get_flashed_messages()%}
  {%if messages %}
    <script type="text/javascript">
      alert("{{messages[-1]}}");
    </script>
    {%endif%}
{%endwith%}
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Yodoc-m</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <style>
        @media (max-width:642px){
            .read_t {font-size: 15px;}
            .read_w {font-size: 15px; width: 30%;}
            .read_c {font-size: 20px;}
        }
        @media (max-width:514px){
            .read_w {width: 35%;}
        }
        @media (max-width:460px){
            .read_w {width: 50%;}
        }
        @media (max-width:370px){
            .read_w {width: 60%;}
        }
    </style>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            {% if user_group == 'D' %}
            <a class="navbar-brand ps-3" href="/api/search_name"><img src="{{ url_for('static', filename='img/common_main_logo.png') }}"></a>
            {% endif %}
            {% if user_group == 'G' %}
            <a class="navbar-brand ps-3" href="/api/table?user_name={{user_name}}"><img src="{{ url_for('static', filename='img/common_main_logo.png') }}"></a>
            {% endif %}             
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <ul class="navbar-nav ms-auto me-lg-4">
                <li class="nav-item dropdown col_org">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user col_org"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" id="logout" href="/api/logout">로그아웃</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sidenav_org1">검색 기능 관리</div>
                            <a class="nav_link collapsed" style="width: 51%;" href="/api/charts?user_name={{user_name}}"> 
                                - 차트 보기
                            </a>
                            <a class="nav_link collapsed" href="/api/table?user_name={{user_name}}">
                                - 검사 결과
                            </a>
                            {% if user_group == 'D' %}
                            <a class="nav_link collapsed" style="width: 68%;" href="/api/search_name">
                                - 다른 환자 검색
                            </a>
                            {% endif %}
                            <div class="sidenav_org1">의견 기능 관리</div>
                            <a class="nav_link collapsed" style="width: 50%;" href="/api/board?user_name={{user_name}}"> 
                                - 검사의견
                            </a>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        {{login_id}}
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <div class="row">
                            <h3 style="font-weight: bold; margin-top: 10px;">
                            <!--제목-->
                            </h3>
                            <div>
                                <div style="display: flex">
                                    <div id="title" class="read_t">{{res[0][0]}}</div>
                                    <div id="writer" class="read_w right">작성자: {{res[0][6]}}</div>
                                </div>
                                <p><div id="contents" class="read_c">{{contents}}</div></p>
                            </div>
                            {% if res[0][6] == login_id %}
                            <div>
                                <a class="right" href="/api/delete?IDXNO={{IDXNO}}&user_name={{user_name}}" onclick="return confirm('삭제하시겠습니까?')">
                                    <button class="btn btn-primary" style="margin-left: 5px;" type="submit">
                                        삭제
                                    </button>
                                </a>
                                <a class="right" href="/api/update?IDXNO={{res[0][4]}}&user_name={{user_name}}">
                                    <button class="btn btn-primary " type="submit">
                                        수정
                                    </button>
                                </a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </main>
                <footer>{% include 'footer.html' %}</footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{{url_for('static', filename='js/scripts.js')}}"></script>
    </body>
</html>
